<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body style="position: relative;">
		<div id="header">
				<h1 style="color:aqua;"><%= title %></h1>
				<ul id="navigation">
					<li>
						<a href="/">Raman</a>
					</li>
					<li>
						<a href="jagdev">Jagdev</a>
					</li>
					<li>
						<a href="param">Param</a>
						
					</li>
					<li>
						<a href="shanty">Shanty</a>
					</li>
					
				</ul>
			</div>