<% include partials/header %>
	
	<div id="body">
		<div id="tagline">
                <h1 style="font-size: 45px;
			padding: 0;
			position: absolute;
			top: 150px;">Jagdev Singh</h1>
			<p style="font-size: 20px;">
				Great father .He is an army officer.
			</p>
		</div>
			</div>
			<% include partials/footer %>