<% include partials/header %>
	
	<div id="body">
		<div id="tagline">
                <h1 style="font-size: 45px;
			padding: 0;
			position: absolute;
			top: 150px;">Paramjeet Kaur</h1>
			<p style="font-size: 20px;">
				Great Mom.she is a very great athlete.
			</p>
		</div>
			</div>
			<% include partials/footer %>