<% include partials/header %>
	
	<div id="body">
		<div id="tagline">
                <h1 style="font-size: 45px;
                padding: 0;
                position: absolute;
                top: 150px;">Shanty Singh</h1>
			<p style="font-size: 20px;">
				Only brother of mine.Good cricket player.
			</p>
		</div>
			</div>
			<% include partials/footer %>